@import 'client/fonts.scss';

.layout {
  display: grid;
  min-height: 100vh;
}
.layoutInner {
  margin: auto;
}
.layoutTitle {
  margin-bottom: 24px;
  line-height: 44px;
  font-family: 'Exo';
  font-size: 36px;
  font-weight: 100;
  color: #FFF;
  text-align: center;
}
